@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Lato, sans-serif;
  width: 85%;
  margin: auto;
  max-width: 600px;

}

a {
  color: #000000;
}

nav {
  text-align: center
}

nav li {
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
  float: left;
  max-width: 600px;
}

header nav a{

  display: block;
  border: 1px solid white;
  width: auto;
  height:px;
  float: left;
  box-sizing: border-box;
  background-color: #000;
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
  margin: 0 1px 1px 0;
  padding: 10px 10px;
  float: left;

}

h1 {
  font-size: 44px;
  color: #C12;
  display: inline-block;
}

h1 a {
color: #C12;
text-decoration: none;
}

h2 {
font size: 22px;
display: inline-block;
}

h2 a {
text-decoration: none;
}

h3 {
font-size: 20px;
color: #899;
}

h3 a {
color: #C12;
}

h4 {
font-size: 18px;
}

h4 a {
font-size: 6pt
font-weight: bold;
color: #c12;
float: right;
clear: both;
text-decoration: none;
}

p {
font-size: 14px;
}

.Bigtype {
	font-size: 5em;
	line-height: 1;
	color: #999;
	margin: -.1em .1em 0 -.1em;
	vertical-align: text-bottom;
	float: left;
}


.left {
	float: left;
	width: 60%;
}
.right {
	float: right;
	width: 35%;

}


.right ul li a {
	color: #C12;
  font-size: 11pt;
  text-decoration: none;
}

footer {
	clear: both;
	float: left;
	font-size: 8pt;

}
footer nav a {
	color: #C12;
  text-decoration: none;
}
